@font-face{
    font-family: 'OE';
    src:url(../fonts/OldeEnglish.ttf) format('truetype');
}
@font-face{
    font-family: 'RS';
    src:url(../fonts/Rockstar-ExtraBold.otf) format('truetype');
}

@font-face{
    font-family: 'OD';
    src:url(../fonts/One_dance.ttf) format('truetype');
}

@font-face{
    font-family: 'S34';
    src:url(../fonts/sector_034.ttf) format('truetype');
}


.footer{
    display:flex;
    align-items: center;
    background-color: rgba(52, 52, 184, 0.7);
    height:10vh;
    justify-content: space-between;
    padding-left:3vw;
    padding-right:3vw;
    width:auto;
}
.footer .letter{
    font-family: "OD" !important;
    font-size: 6rem !important;

}