@font-face{
    font-family: 'OE';
    src:url(../fonts/OldeEnglish.ttf);
}

.footer{
    display:flex;
    align-items: center;
    background-color: rgba(52, 52, 184, 0.7);
    height:10vh;
    justify-content: space-between;
    padding-left:3vw;
    padding-right:3vw;
    width:auto;
}

.githubimg{
    width:48px;
    height:auto;
}
.footer .logoname{
    position: absolute;
    text-align: center;
    width:97vw;
}

.logotitle{
    font-family: "OE" !important;
    font-size: 3rem;
}